/* General styling */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(19, 0, 34);
  height: 100%;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

p, h3 {
  color: rgb(221, 208, 208);
}

/* Transition */

a, 
.btn {
  transition: all 300ms ease;
}

/* Desktop nav */

nav, 
.nav-links {
  display: flex;
}

/*
nav {
  justify-content: space-around;
  align-items: center;
  height: 11vh;
} 
*/

nav {
  justify-content: space-around;
  align-items: center;
  height: 11vh;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(19, 0, 34); 
  z-index: 1000; 
}

.nav-links {
  gap: 2rem;
  list-style: None;
  font-size: 1.5rem;
}

a {
  color: rgb(215, 209, 219);
  text-decoration: none;
  text-decoration-color: burlywood;
}

a:hover {
  color: rgb(94, 85, 100);  
}

.logo {
  font-size: 2rem;
  color: rgb(215, 209, 219);
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: rgb(215, 209, 219);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(19, 0, 34);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(215, 209, 219);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* Sections */

section {
  padding-top: 4vh;
  padding-bottom: 4vh;
  height: auto;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  scroll-snap-align: start;
  scroll-margin-top: 10vh;
  scroll-margin-top: 11vh; 
  flex: 1; 
}

.section-container {
  display: flex;
}

/*Profile Section */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
  margin-top: 15vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

#profile  .section__pic-container img {
  border-radius: 50%;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1{
  text-align: center;
}

.section__text__p2{
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/*Icons */
.icon {
  cursor: pointer;
  height: 2rem;
}

/*Buttons */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1, 
.btn-color-2 {
  border: rgb(215, 209, 219) 0.1rem solid;
}

.btn-color-1:hover, 
.btn-color-2:hover{
  cursor: pointer;
}

.btn-color-1, 
.btn-color-2:hover{
  background: rgb(215, 209, 219);
  color: rgb(19, 0, 34);
}

.btn-color-1:hover{
  background-color: rgb(255, 255, 255)
}

.btn-color-2 {
  background: none;
  color: rgb(215, 209, 219);
}

.btn-color-2:hover {
  border: rgb(19, 0, 34);
}

.btn-container {
  gap: 1rem;
}

/* About */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-containers, 
.about-details-container{
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: rgb(19, 0, 34);
  border-radius: 2rem;
  border: rgb(215, 209, 219) 0.1rem solid;
  border-color: rgb(215, 209, 219);
  text-align: center;
}

.details-container .icon {
  margin-bottom: -0.5rem;
}

.skills {
  display: flex;
  justify-content: center;
  gap: 3rem;
  height: 3rem;
  margin-top: 1rem;
}

.section-container{
  gap: 4rem;
  height: 80%;
}

.section__pic-container{
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/*
.text_container {
  text-align: justify;
  text-justify: inter-word;
} */

/* Projects */

#projects {
  position: relative;
  margin-top: 10vh;
}

.color-container {
  border-color: rgb(215, 209, 219);
  background: rgb(19, 0, 34);
}

.project-img {
  border-radius: 2rem;
  width: 40vh;
  height: 25vh;
}

.project-title {
  margin: 1rem;
  color: rgb(215, 209, 219);
}

.project-btn {
  color: rgb(215, 209, 219);
  border-color: rgb(215, 209, 219);
}

/* Contact */

.contact-info-container{
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(215, 209, 219);
}

input[type='text'],
input[type='email'],
textarea{
  width: 100%;
  padding: 10px;
  border-radius: 1%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: rgb(19, 0, 34);
}

textarea {
  height: 10vh;
}

#btn-contact {
  display: flex;
  justify-content: center;
}

/* Footer */

footer {
  height: 6vh;
  padding: 1rem;
  margin-top: 0px;
  margin-bottom: -5vh;
}

footer p{
  text-align: center;
}

hr {
  border: 2px rgb(215, 209, 219);
}